<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abi.maven.archetype.dao.mapper.UserMapper">
    <select id="getAllUserInfos" resultType="com.abi.maven.archetype.dao.entity.UserInfo">
        select *
        from abi_user
    </select>
</mapper>
